<html>
	<head>
		<title>In-depth</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div id="topbar">
			<div id="logo">In-depth</div>
			<div id="user">
				Current user:<br>
				Geen Idee
			</div>
		</div>
		<div id="unit">
			<div id="summary">
				<div id="summary-title"><h2>Summary:</h2></div><br>
				<div id="summary-content">
					<h3>Total points:</h3>
					<img class="currency_small" src="currency.png" alt="Currency icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</img>1337<br>&nbsp;
				</div>
			</div>
			<br><br>
			<div id="essences-title"><h2>Essences:</h2></div>
			<div id="essences-content">
				<table>
				{% for rij in essences %}
					<tr>
						<td><img class="currency_small" src="currency.png" alt="Currency icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</img>{{ rij[4] }}</td><td>{{ rij[0] }}</td><td>{{ rij[1] }}</td><td>{{ rij[5] }}</td>
					</tr>
				{% end %}
				</table>
			</div>
			<br><br>
			<div id="todo-title"><h2>Things to do:</h2></div>
			<div id="todo-content">
				<table>
				{% for rij in todos %}
					<tr>
						<td><img class="currency_small" src="currency.png" alt="Currency icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</img>{{ rij[4] }}</td><td>{{ rij[0] }}</td><td>{{ rij[1] }}</td><td>{{ rij[5] }}</td>
					</tr>
				{% end %}
				</table>
			</div>
			<br><br>
			<div id="tips-title"><h2>Tips:</h2></div>
			<div id="tips-content">
				<table>
				{% for rij in tips %}
					<tr>
						<td><img class="currency_small" src="currency.png" alt="Currency icon">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</img>{{ rij[4] }}</td><td>{{ rij[0] }}</td><td>{{ rij[1] }}</td><td>{{ rij[5] }}</td>
					</tr>
				{% end %}
				</table>
			</div>
		</div>
	</body>
</html>