body{
	font-family: sans-serif;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	background-color: black;
	color: white;
	font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

h1{
	font-size: 22px;
}

h2{
	font-size: 20px;
}

#topbar{
	height: 60px;
	background-color: rgb(2, 46, 117);
	color: rgb(237, 237, 237);
}

#logo{
	top: 15px;
	left: 20px;
	display: inline-block;
	position: absolute;
	font-size: 26px;
}	

#user{
	display: inline-block;
	top: 8px;
	right: 30px;
	position: absolute;
	font-size: 18px;
}

#unit{
	padding: 20px;
	font-size: 12px;
}

#summary{
	position: relative;
	top: 10px;
}

#summary-title{
}

#summary-content{
	padding: 12px;
	border: 1px solid white;
	border-radius: 6px;
}

#essences-title{
}

#essences-content{
}

#todo-title{
}

#todo-content{
}

#tips-title{
	
}

#tips-content{
}

td{
	position: relative;
	height: 25px;
}

.currency_small{
	position: absolute;
	height: 25px;
	width: 25px;
}